{% extends 'base.html' %}
{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}
    <!-- Check for API errors -->
    {% if api %}
        {% if api == "Error..." %}
            There was a problem with your ticker symbol, please try again...
        {% else %}
            <h1>{{ api.ticker }}</h1><br/>
            Price: ${{ api.last }}<br/>
            Previous Close: {{ api.prevClose }}<br/>
            Daily High: {{ api.high }}<br/>
            Daily Low: {{ api.low }}<br/>
            Volume: {{ api.volume }}<br/>
        {% endif %}
    {% endif %}
{% endblock %}